{{#partial "content"}}
    {{#if username }}
        <h1>Welcome {{ username }}</h1>
        <p> View <a href="/ideas">all course ideas</a></p>
    {{ else }}
        <h1>Welcome Students </h1>

        <h3>Sign In</h3>
        <form action="/sign-in" method="post">
            <input name="username" placeholder="Whats your name?"/>
            <button>Sign In</button>
        </form>
    {{/if}}
{{/partial}}

{{> base.hbs}}